<header>
    <div class="header-container">
        <div class="logo" routerLink="home">Food Truckk</div>
        <nav>
            <ul>
                @if (!isLoggedIn) {
                    <li>
                        <a routerLink="login" href="">Login</a> 
                    </li>
                    <li>
                        <a routerLink="signup" href="">Signup</a> 
                    </li>
                     <li>
                        <a routerLink="signup" href="">Menu</a> 
                    </li>
                } @else {
                    <li>
                        <a [routerLink]="editProfileUrl" href="">Profile</a> 
                    </li>
                    <li>
                        <a routerLink="menu" href="">Menu</a> 
                    </li>
                     <li>
                        <a routerLink="order-history" href="">Order History</a> 
                    </li>
                     <li>
                        <a routerLink="cart" href="">Cart</a> 
                    </li>
                     <li>
                        <a (click)="logout()" href="">Logout</a> 
                    </li>
                }
            </ul>
        </nav>
    </div>
</header>

<router-outlet />