/* You can add global styles to this file, and also import other style files */

body {
    padding: 0;
    margin: 0;
    background-color: #1d2833;

    .container {
        margin: 0 auto;
        width: 30%;
        padding: 16px;

        .btn {
            width: 100%;
        }

    }

    @media (max-width: 992px) {
        .container {
            width: 100%;
        } 
    }

    .text-danger {
        font-size: 14px;
    }
}